 /* CSS Reset */
    body{
        font-family: "IBM Plex Serif", serif;
        margin: 0px;
        padding: 0px;
        background: url('../image/fitness.avif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 1000px;
        color: white;
    }
    .left{
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    left: 40px;
    top: 20px;
    width: 150px;
    text-align:center;
    }
    .mid{
    /* border: 2px solid rgb(217, 255, 0); */
    display: block;
    width: 40%;
    margin: 22px auto;
    }
    .right{
    /* border: 2px solid rgb(41, 31, 53); */
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 33px;
    }
    .navbar{
        display: inline-block;
    }
    .navbar li{
        display: inline-block;
        font-size: 22px;
    }
    .navbar li a{
        color: white;
        text-decoration: none;
        padding: 18px 8px;
    }
    .navbar li a:hover, .navbar li a:active{
        text-decoration: underline;
        color:gray;
    }
    .left img{
        width:60px;
        filter: invert(100%);
        margin: 0 auto;
        display:block;
    }
    .btn{
        font-family: "IBM Plex Serif", serif;
        margin: 0px 9px;
        background-color: black;
        color: white;
        padding: 4px 14px;
        border: 2px solid grey;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
    }
    .btn:hover{
        background-color: rgb(32, 36, 36);
    }
    .container{
        border: 2px solid white;
        margin: 110px 75px;
        padding: 40px;
        width: 32%;
        border-radius: 20px;
    }
    .form-group input{
        font-family: "IBM Plex Serif", serif;
        text-align: center;
        display: block;
        width: 300px;
        padding: 8px;
        border: 2px solid black;
        margin: 11px auto;
        font-size: 20px;
        border-radius: 8px;
    }
    .container h1{
        text-align: center;
        font-size: 28px;
    }
    .container button{
        display: block;
        width: 320px;
        margin: 20px auto;
    }
    